#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.to-do-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3%;
}

.to-do-item-buttons {
  display: flex;
  gap: 0.2rem;
}


.input-new-todo {
  padding: 5%;
  align-items: center;
  padding: 3%;
}