:root {
  font-family: 'Poor Story', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-image: url('./assets/background-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-size: large;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 3%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2%;
  font-size: large;
  font-weight: 500;
  font-family: inherit;
  background-color: #a54a0eff;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100px;
  font-size: larger;
}
button:hover {
  background-color: rgb(181, 107, 58);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline: none;
  box-shadow: none;
}

input {
  color: #888;
  margin-left: 5px;
  padding: 1.5%;
  width: 60%;
  font-style: italic;
  border-radius: 5px;
  background-color: #ffffff;

}

input:focus {
  outline: none;
  border-color: #a54a0eff;
  box-shadow: none;
}

p {
  font-size: larger;
}